<html>
  <head>
    <link type="text/css" rel="stylesheet" href="https://js.zohostatic.com//ze/75.3/css/editor1.min.css" integrity="sha384-Cr2oUB0JRaPwawQpsvOR9Yf79tTK8Q0iw6Baodo1r0uaVqNAeYt1PR9jnM7/254V" crossorigin="anonymous">
    <style type="text/css">
      .ze_body {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 13px;
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
      }

      .formatPainter {
        cursor: url(https://js.zohostatic.com//ze/75.3/images/format_painter.png), auto;
      }
    </style>
  </head>
  <body contenteditable="true" data-gramm="false" class="ze_body">
    <div style="border: solid 1px #E5E5E5;border-radius: 5px;margin:0px auto; max-width:600px;width:600px;background:#fff;font-family: Lato, Helvetica, 'Helvetica Neue', Arial, 'sans-serif';">
      <table cellspacing="0" cellpadding="0" style="width: 100%;font-size: 14px;">
        <tbody>
          <tr>
            <td style="padding:32px">
              <div>
                <h1 style="margin: 0 0 32px;font-size:20px;text-align:center">
                  <span>Thiba Dam Camp &amp; Resort Gardens</span>
                  <br>
                </h1>
              </div>
              <div style="background: #fff;border-radius: 10px;overflow: hidden;border: solid 1px #E5E5E5;border-radius: 10px;">
                <table cellspacing="0" cellpadding="0" style="width:100%;font-size: 14px;">
                  <tbody>
                    <tr>
                      <td>
                        <div style="padding: 32px 24px;text-align: center;">
                          <h2 style="margin:0 0 20px;font-size: 20px;">Booking confirmed! <br>
                          </h2>
                          <p style="margin: 0px 0px 20px; line-height: 1.6; padding: 0px 56px;">
                            <span class="size" style="font-size: 14px; margin: 0px 0px 20px; line-height: 1.6;">Hello {{ first_name }} {{ last_name }}! Your booking order with us has been confirmed on {{booked_at}}. Make sure to check-in on the date you indicated when booking.</span>
                            <br>
                          </p>
                          <div style="text-align: left;margin: 24px 0;padding: 24px 0;border-style: dashed;border-width: 1px 0;border-color: #CECECE;">
                            <div style="margin-top:25px;overflow:hidden;">
                              <br>
                              <br>
                              <table style="width:100%;font-size: 14px;line-height: 1.6;text-align:left" cellpadding="0" cellspacing="0">
                                <thead style="background-color:#F9F9F9">
                                  <tr>
                                    <th style="border-top: solid 1px #CECECE;border-left: solid 1px #cecece;padding: 12px 8px 12px 32px;">Room <br>
                                    </th>
                                    <th style="border-top: solid 1px #CECECE;padding: 12px 0 12px 8px;text-align:right;">Guests <br>
                                    </th>
                                    <th style="border-top: solid 1px #CECECE;border-right: solid 1px #cecece;padding: 12px 32px 12px 8px;text-align: right;">Price <br>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td style="border-bottom: solid 1px #CECECE;border-left: solid 1px #cecece;padding: 16px 8px 16px 32px;">{{room_name}}
                                      <br>
                                    </td>
                                    <td style="border-bottom: solid 1px #CECECE;padding: 16px 0 16px 8px;text-align:right;">{{guests}}
                                      <br>
                                    </td>
                                    <td style="border-bottom: solid 1px #CECECE;border-right: solid 1px #cecece;padding: 16px 32px 16px 8px;text-align: right;">{{price}}
                                      <br>
                                    </td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <br>
                                </tfoot>
                              </table>
                            </div>
                          </div>
                          <p style="line-height: 1.6; margin: 24px 0px 0px; text-align: left;" class="align-left">
                            <span class="size" style="font-size: 14px; line-height: 1.6; margin: 24px 0px 0px;">If you have further questions, write to us at <a href="#" style="color:#006CFF;text-decoration: none;">info@thibadamresort.org or thibadamresort@gmail.com</a> and our team will get back to you. </span>
                            <br>
                          </p>
                          <div style="margin-top: 32px;line-height: 1.6;">
                            <p style="margin: 0px; text-align: left;" class="align-left">
                              <span class="size" style="font-size: 13px; margin: 0px;">Have a great day!</span>
                              <br>
                            </p>
                            <h3 style="font-size: 15px; margin: 4px 0px 0px; text-align: left;" class="align-left">Team<span> Thiba Dam Camp &amp; Resort Gardens</span>
                              <br>
                            </h3>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <br>
    </div>
    <div id="_resizecolDivs">
      <div class="ze_colResize" id="tabLeft" style="top: 15.8739px; width: 3px; height: 773.59px; left: 372.566px;"></div>
      <div class="ze_colResize" id="0" style="top: 15.8739px; width: 3px; height: 773.59px; left: 405.448px;"></div>
      <div class="ze_colResize" id="1" style="top: 15.8739px; width: 3px; height: 773.59px; left: 429.439px;"></div>
      <div class="ze_colResize" id="2" style="top: 15.8739px; width: 3px; height: 773.59px; left: 652.931px;"></div>
      <div class="ze_colResize" id="3" style="top: 15.8739px; width: 3px; height: 773.59px; left: 766.012px;"></div>
      <div class="ze_colResize" id="tabRight" style="top: 15.8739px; width: 3px; height: 773.59px; left: 972.566px;"></div>
      <div class="ze_rowResize" id="rowTop" style="position: absolute; left: 372.566px; width: 600px; top: 14.8739px; height: 3px;"></div>
      <div class="ze_rowResize" id="0" style="position: absolute; left: 405.448px; width: 534.237px; top: 102.761px; height: 3px;"></div>
      <div class="ze_rowResize" id="1" style="position: absolute; left: 429.439px; width: 486.256px; top: 422.479px; height: 3px;"></div>
      <div class="ze_rowResize" id="2" style="position: absolute; left: 429.439px; width: 486.256px; top: 469.727px; height: 3px;"></div>
      <div class="ze_rowResize" id="rowBottom" style="position: absolute; left: 372.566px; width: 600px; top: 788.463px; height: 3px;"></div>
    </div>
  </body>
</html>