<html>
  <body>
    <div>
      <table cellspacing="0" cellpadding="0" style="margin:0px auto; width: 100%; background-color:#fff;">
        <tbody>
          <tr>
            <td>
              <div style="background-color: #fff; border: 1px solid #eee; box-sizing: border-box; font-family: Lato, Helvetica, 'Helvetica Neue', Arial, 'sans-serif'; margin: auto; max-width: 600px; overflow: hidden; width: 600px;">
                <div style="padding: 65px 90px 20px; background-color: #1B3E71; background-image: url(https://static.zohocdn.com/zeptomail/assets/images/circles.4ee9fbd3db3cd183c76b.svg); background-repeat: no-repeat; background-position: top right; background-size: 140px;">
                  <h4 style="color: #fff; font-weight: normal; font-size: 16px; margin: 0; margin-bottom: 10px;">Hi {{ first_name }} {{ last_name }}, <br>
                  </h4>
                  <h2 style="color: #fff; font-size: 24px; font-weight: normal;margin: 0;">Welcome to <span>Thiba Dam Camp &amp; Resort Gardens</span>! <br>
                  </h2>
                </div>
                <div style="padding: 25px 90px 65px;">
                  <div style="font-size: 14px; margin: 20px 0 20px 20px;">Your e-mail has been sent successfully. A representative will get back to you shortly. <br>
                  </div>
                  <div>
                    <a href="https://thibadamresort.org" style="border: none; border-radius: 4px; color: #fff; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; text-decoration: none; padding: 12px 24px; background-color: #1B3E71; margin: 20px 0 30px;" target="_blank">Explore More</a>
                    <br>
                  </div>
                  <p style="margin: 0px 0px 30px; line-height: 20px;">
                    <span class="size" style="font-size: 14px; margin: 0px 0px 30px; line-height: 20px;">If you're looking for immediate help, call or WhatsApp us on&nbsp; <span style="font-size: 14px; margin: 0px 0px 30px; line-height: 20px;" class="size">0796236973​.</span>
                    </span>
                    <br>
                  </p>
                  <div>
                    <span class="size" style="font-size: 14px; margin: 0px 0px 30px; line-height: 20px;">​</span>
                    <br>
                  </div>
                  <p style="margin: 0px; line-height: 20px;">
                    <span class="size" style="font-size: 14px; margin: 0px; line-height: 20px;">Thank you,</span>
                    <br>
                  </p>
                  <p style="margin: 0px; line-height: 20px;">
                    <span class="size" style="font-size: 14px; margin: 0px; line-height: 20px;">Team&nbsp;<span>Thiba Dam Camp &amp; Resort Gardens.</span>
                    </span>
                    <br>
                  </p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <br>
      </div>
    </div>
  </body>
</html>